<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="ISO-8859-1">
  <title>Registration and Login App</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/4461765f98.js" crossorigin="anonymous"></script>

</head>
<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Book Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="available_books">Available Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="my_books">My Books</a>
        </li>
        <li class="nav-item">
          <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link text-white" href="book_register">New Book Register</a>
          </div>
        </li>
      </ul>

      <div>
        <a class="nav-link text-white" th:href="@{/login}">Login</a>
      </div>


      <div>
        <a class="nav-link text-white" th:href="@{/logout}">Logout</a>
      </div>

    </div>
  </div>
</nav>

<br>
<br>
<div class = "container">
  <div class = "row">
    <div class = "col-md-6 col-md-offset-3">

      <h1> User Login Page </h1>
      <form th:action="@{/login}" method="post">

        <!-- error message -->
        <div th:if="${param.error}">
          <div class="alert alert-danger">Invalid username or
            password.</div>
        </div>

        <!-- logout message -->
        <div th:if="${param.logout}">
          <div class="alert alert-info">You have been logged out.</div>
        </div>

        <div class = "form-group">
          <label for ="username"> Username </label> :
          <input type="text" class = "form-control" id ="username" name = "username"
                 placeholder="Enter Email ID" autofocus="autofocus">
        </div>

        <div class="form-group">
          <label for="password">Password</label>: <input type="password"
                                                         id="password" name="password" class="form-control"
                                                         placeholder="Enter Password" />
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <input type="submit" name="login-submit" id="login-submit"
                     class="form-control btn btn-primary" value="Log In" />
            </div>
          </div>
        </div>
      </form>
      <div class="form-group">
						<span>New user? <a href="/registration" th:href="@{/registration}">Register
								here</a></span>
      </div>
    </div>
  </div>
</div>
</body>
</html>